<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Загружаем тег static -->
    {% load static %}
    <!-- Загружаем кастомные теги -->
    {% load menu_tags %}
    <link rel="stylesheet" href="{% static 'menu/styles.css' %}">
    <title>Menu Example</title>
</head>
<body>
    <h1>Welcome to the Menu Example</h1>

    <!-- Здесь будет отображаться меню -->
    {% draw_menu 'main_menu' %}

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
